$text-color: #0d0d0d;

$primary-color: #1c3346;
$secondary-color:lighten($primary-color, 65%) ; 
// #c6d8e8

$white-shadow-1 :  lighten($secondary-color, 60%);
$dark-shadow-1: darken($secondary-color, 20%);

$node-garden-background: #222326;