
// NavBar
.navbar-section {
  opacity: 0.95;
  position: absolute;
  display: flex;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-family: $main-content-font;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  z-index: 1;  

  .navbar-options {
    display: flex;
    button {
      cursor: pointer;
      margin-left: .3rem;
      // width: 5rem;
      opacity: 0.95;
      background: $secondary-color;
      border: 0px;
      border-radius: 4px;
      display: block;
      margin-top: .1rem;
      margin-bottom: .1rem;
      padding-top: .2rem;
      padding-bottom: .2rem;
      height: 2rem;
      font-weight: 600;
      
      text-decoration: none;
      color: $primary-color;
      &:hover {
        background: $primary-color;
        color: $secondary-color;
        border: 1px solid $secondary-color;
      }
      &:visited {
        color: $primary-color;
      }
    }
  }
}


